@if(control?.invalid&&control?.dirty||control?.touched){

    @if(control?.hasError('required')){
      <small class="text-danger">{{fieldName}} is required</small>
    }
   @else if(control?.hasError('email')){
    <small class="text-danger">Enter a valid email</small>
   }
   @else if (control?.hasError('minlength')) {
    <small class="text-danger">{{ fieldName }} must be at least 
    {{ control?.errors?.['minlength']?.requiredLength }} characters long.</small>
   }
   @else if (control?.hasError('maxlength')) {
    <small class="text-danger">   {{ fieldName}} cannot be more than
  {{ control?.errors?.['maxlength']?.requiredLength }} characters long.</small>
   }
   @else if(control?.hasError('pattern')){
    <small class="text-danger"> {{ fieldName}} format is invalid.</small>
   }
}
